@font-face {
  font-family: 'Proxima Nova';
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-regular-webfont.eot');
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-regular-webfont.woff') format('woff'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibold-webfont.eot');
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibold-webfont.woff') format('woff'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibold-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibolditalic-webfont.eot');
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibolditalic-webfont.woff') format('woff'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibolditalic-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-semibolditalic-webfont.svg#ProximaNovaSemiboldItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-bold-webfont.eot');
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-bold-webfont.woff') format('woff'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-bold-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-boldit-webfont.eot');
  src: url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-boldit-webfont.woff') format('woff'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-boldit-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/joylister/type/proximanova/proximanova-boldit-webfont.svg#ProximaNovaBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'DancingScript';
  src: url('https://s3.amazonaws.com/joylister/type/dancingscript/DancingScript-Regular-webfont.eot');
  src: url('https://s3.amazonaws.com/joylister/type/dancingscript/DancingScript-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/joylister/type/dancingscript/DancingScript-Regular-webfont.woff') format('woff'), url('https://s3.amazonaws.com/joylister/type/dancingscript/DancingScript-Regular-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/joylister/type/dancingscript/DancingScript-Regular-webfont.svg#DancingScriptOTRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.baby_blue_gradient {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#4dbedd, endColorstr=#28abcf);
  background: -webkit-gradient(linear, left top, left bottom, from(#4dbedd), to(#28abcf));
  background: -moz-linear-gradient(top, #4dbedd, #28abcf);
}
.baby_blue_flipped {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#28abcf, endColorstr=#4dbedd);
  background: -webkit-gradient(linear, left top, left bottom, from(#28abcf), to(#4dbedd));
  background: -moz-linear-gradient(top, #28abcf, #4dbedd);
}
.graybg_gradient {
  background-image: linear-gradient(top, #eeeeee 50%, #ffffff 90%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 90%);
  background-image: -moz-linear-gradient(top, #eeeeee 50%, #ffffff 90%);
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 90%);
  background-image: -ms-linear-gradient(top, #eeeeee 50%, #ffffff 90%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #eeeeee), color-stop(0.9, #ffffff));
}
.text-shadow {
  -webkit-text-shadow: 0px -1px 0px #7e0c1f;
  text-shadow: 0px -1px 0px #7e0c1f;
}
[data-icon]:before {
  font-family: 'Pictos Custom';
  content: attr(data-icon);
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  vertical-align: middle;
}
html,
body {
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #2a2a2a;
  margin: auto;
}
/*
@desktop: ~"(min-width: 1200px)";
@tablet: ~"(min-width: 768px) and (max-width: 979px)";
@phone_l: ~"(max-width: 767px)";
@phone_p: ~"(max-width: 480px)";
*/
/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
.logo-hold {
  display: inline-block;
  float: left;
  margin-left: 0;
  margin-right: 30px;
}
.logo-hold .logo-site {
  background: url(../image/logo.png) no-repeat center;
  background-size: contain;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  height: 45px;
  width: 138px;
}
.signup {
  display: inline-block;
  -webkit-text-shadow: 0px -1px 0px #7e0c1f;
  text-shadow: 0px -1px 0px #7e0c1f;
  margin-top: 10px;
  background-image: none;
  background-color: #c41230;
  cursor: pointer;
}
.signup:hover {
  text-decoration: none;
  background-color: #7e0c1f;
}
.fader {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
.graybg {
  background-color: #eee;
}
.whitebg {
  background-color: white;
}

#nav-main-hold {
  background: url(../image/bg-border.png) repeat-x;
  padding: 20px 0px 21px;
}
#nav-main-hold #nav-main:after {
  clear: both;
}
#nav-main-hold #nav-main ul {
  list-style: none;
  display: block;
  float: right;
  margin: 0 auto;
}
#nav-main-hold #nav-main ul li {
  display: inline-block;
  position: relative;
  float: none;
}
#nav-main-hold #nav-main ul li a {
  line-height: 44px;
  color: white;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 300;
}
#nav-main-hold #nav-main ul li a:hover {
  color: #7e0c1f;
  text-decoration: none;
}
#nav-main-hold #nav-main ul#user-bar {
  float: right;
  margin-right: 10px;
}
#nav-main-hold #nav-main ul#user-bar a {
  padding: 0 8px;
  cursor: pointer;
}
#nav-main-hold #nav-main ul .divider {
  color: white;
  font-size: 16px;
}
#main_footer {
  background-color: #222;
  color: #eee;
  font-weight: 300;
  font-size: 15px;
  color: #838383;
}
#main_footer h5 {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
#main_footer ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
}
#main_footer ul li {
  margin-bottom: 5px;
}
#main_footer ul li a {
  color: #838383;
}
#main_footer ul li a:hover {
  text-decoration: none;
  color: #4dbedd;
}
#main_footer p {
  line-height: 20px;
}
#main_footer .about .social-list [data-icon]:before {
  vertical-align: middle;
  font-size: 24px;
  margin-right: 5px;
}
#main_footer .footer-section {
  padding: 20px 0;
}
#main_footer .ender {
  padding-top: 10px;
  color: #505050;
  border-top: 1px solid #444;
  text-align: center;
}
#main_footer .ender ul {
  list-style: none;
  display: block;
  margin: 0 auto;
}
#main_footer .ender ul li {
  display: inline-block;
  position: relative;
  float: none;
}
#main_footer .ender ul li:last-child {
  padding-left: 8px;
}
#main_footer .ender ul li a {
  padding: 0 10px 0 8px;
  font-weight: 300;
}

#wrapper {
  background: url(https://s3.amazonaws.com/joylister/img/poutine/bg.jpg) no-repeat 50% 0;
  background-size: cover;
}

.poutine-cover {
/*  height: 529px;
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;*/
}
.poutine-cover .banner-block {
  display: block;
  float: left;
  width: 468px;
  height: 414px;
  background-image: url("https://s3.amazonaws.com/joylister/img/poutine/banner.png");
  margin-top: 50px;
}
.poutine-cover .poutine-block {
  display: block;
  float: right;
  background-color: rgba(0, 0, 0, 0.75);
  width: 360px;
  height: 390px;
  padding: 20px 34px 30px;
  margin: 45px 0px;
  color: #eee;
}
.poutine-cover .poutine-block p {
  line-height: 20px;
  margin-bottom: 14px;
}
.poutine-cover .poutine-block .poutine-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 24px;
}
.poutine-cover .poutine-block .price-text {
  margin-top: 15px;
  margin-bottom: 0;
}
.poutine-cover .poutine-block .price-text .price {
  font-weight: 300;
  font-size: 26px;
}
.poutine-cover .poutine-block .note {
  font-size: 14px;
}
.poutine-cover .poutine-block span.inactive {
  background-color: #838383;
  cursor: default;
  float: left;
  text-shadow: 0px -1px 0px #333333 !important;
}
.poutine-cover .poutine-block span.inactive:hover {
  background-color: #838383;
}
.poutine-cover .poutine-block .date-disclaimer {
  font-size: 14px;
  color: #838383;
  margin-left: 15px;
  float: right;
  width: 220px;
  line-height: 18px;
  padding-top: 14px;
}
.poutine-cover .poutine-block .date-disclaimer .white {
  color: white;
}
.poutine-cover .poutine-block .age-disclaimer {
  font-size: 14px;
  color: #c41230;
  margin-left: 15px;
}
.poutine-cover .poutine-block .end-disclaimer {
  font-size: 16px;
  color: #e8ebef;
  line-height: 20px;
}
.red {
  color: #c41230;
}
.poutine-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  margin-bottom: 32px;
}
.poutine-section {
  padding: 38px 0;
  background-color: white;
}
.overlined {
  border-top: 1px solid #333;
}
.short-overlined {
  margin-right: 50px;
  border-top: 1px solid #dbdbdb;
}
.share-buttons {
  margin-top: 24px;
  padding-top: 15px;
  height: 24px;
  font-size: 14px;
}
.share-buttons .facebook-share {
  background: url("https://s3.amazonaws.com/joylister/img/poutine/facebook.png") no-repeat;
  background-size: 24px;
  padding: 5px 0 4px 32px;
  color: #3560B9;
  margin-right: 30px;
  cursor: pointer;
}
.share-buttons .twitter-share {
  background: url("https://s3.amazonaws.com/joylister/img/poutine/twitter.png") no-repeat;
  background-size: 24px;
  padding: 5px 0 4px 32px;
  color: #4099FF;
  cursor: pointer;
}
#announcement_content {
  background-image: url("https://s3.amazonaws.com/joylister/img/poutine/subtlenet2.png");
}
#announcement_content #winner_content .logo {
  margin-bottom:20px;
}
#announcement_content #winner_content img.winner-portrait {
  border: 1px #8e8e8e solid;
}

#media_content h3 {
  font-size: 22px;
  font-weight: 400;
  line-height:28px;
  margin-bottom: 24px;
}
#media_content .note {
  font-size: 14px;
}
#media_content .age-disclaimer {
  font-size: 14px;
  color: #c41230;
  margin-left: 15px;
}
#media_content #vid_box {
  margin-top: 10px;
}
#included_content {
  background-image: url("https://s3.amazonaws.com/joylister/img/poutine/subtlenet2.png");
}
#included_content .third {
  text-align: center;
}
#included_content .third .third-content {
  padding: 0 30px;
}
#included_content .third .third-content h3 {
  margin-top: 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
}
#part_content p {
  text-align: center;
  font-size: 18px;
}
#venue_content .middle-content {
  text-align: center;
}
#venue_content .middle-content img {
  margin-bottom: 20px;
}
#venue_content .shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#venue_content .stacked {
  margin-bottom: 16px;
}
#deets_content #event_details .dl-horizontal dt {
  width: 80px;
  margin-bottom: 10px;
}
#deets_content #event_details .dl-horizontal dd {
  margin-left: 100px;
  margin-bottom: 10px;
}
#deets_content #map_canvas {
  height: 285px;
}
#faqs_content h2 {
  line-height: 24px;
}
#faqs_content h2 .sub-heading {
  color: #838383;
  font-size: 14px;
}
#faqs_content .left-questions {
  padding-right: 10px;
}
#faqs_content .right-questions {
  padding-left: 10px;
}
#faqs_content .top {
  margin-top: 0px !important;
}
#faqs_content .question {
  font-size: 20px;
  line-height: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#faqs_content .answer {
  line-height: 22px;
  display: none;
}
#faqs_content .answer ul {
  margin-top: 10px;
}
#faqs_content .faq-note {
  margin-top: 20px;
  text-align: center;
}
#extra_content #extra {
  text-align: center;
}
#extra_content #extra h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0;
}
#extra_content #extra p {
  color: #838383;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
#extra_content #extra .top-border {
  margin-bottom: 40px;
}
#extra_content #extra .bottom-border {
  border-bottom: 1px solid #ddd;
  margin-top: 24px;
}
#extra_content #extra .bordered {
  min-height: 223px;
  border-right: 1px solid #ddd;
  padding: 10px 20px 10px 0px;
}
#extra_content #extra .unbordered {
  min-height: 223px;
  padding: 10px 20px 10px 0px;
}
#extra_content #extra .share-p {
  margin-bottom: 5px;
}
#extra_content #extra .share-buttons {
  border-top: none;
  margin-top: 0;
  padding: 0;
  line-height: 30px;
}
#extra_content #extra .share-buttons .facebook-share {
  margin-right: 0;
}
#action_content {
  background-color: #5197c5;
  padding: 66px 0;
  color: white;
  text-align: center;
}
#action_content h2 {
  font-size: 28px/30px;
  font-weight: 400;
  margin: 0px 0px 6px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
#action_content p {
  color: #dadada;
}
#action_content a.inactive {
  background-color: #838383;
  cursor: default;
  text-shadow: 0px -1px 0px #333333 !important;
}
#action_content a.inactive:hover {
  background-color: #838383;
}
#action_content .age-disclaimer {
  color: #c41230;
}

.signup-form {
  margin: 10px auto 0px;
  padding:10px 0 8px;
  position: relative;
  width: 305px;
}
.signup-form input[type="text"] {
  border: none;
  font: 16px/20px 'open_sansregular', Arial, Helvetica, sans-serif;
  height: 32px;
  outline:none;
  margin:0px;
  padding: 2px 0px 0px;
  box-shadow: none;
}
.signup-form .email-inner {
  border: 1px #ddd solid;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1) inset;
  padding:5px 8px;
  background-color: white;
  margin-bottom: 5px;
}
.signup-form .names-inner{
    border: 1px #ddd solid;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1) inset;
  padding:5px 8px;
  background-color: white;
  
    margin-bottom: 5px; 
}
.signup-form .input-half {
  width: 49%;
}
.signup-form .input-full {
  width: 100%;
}
.signup-form input[type="submit"] {
  background: #c42032;
  font: 16px/41px 'open_sanssemibold', Arial, Helvetica, sans-serif;
  height: 42px;
  padding: 1px 0 0;
  color: #fff;
  border:1px solid #870d1a;
  margin-top: 2px;
  text-transform: capitalize;
  width: 110px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.signup-form input[type="submit"]:hover { cursor: pointer;}
.signup-form input[type="submit"]:disabled {
  cursor: default;
  border-color: #888;
  background: #aeaeae;
  color: #d9d9d9;
}
.alert {
  padding: 5px 8px;
  width: 284px;
  webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.centered {
  margin: 0 auto;
  position: relative;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border: 1px #d6e9c6 solid;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border: 1px #bce8f1 solid;
}
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px #DBB0B7 solid;
}

#nav {
  font-size: 14px;
  line-height: 16px;
  font-family:'lucida_granderegular', Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 25px 0;
  text-align: center;
}
#nav ul {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-transform: capitalize;
}
#nav ul li a { color: #bababb; }
#nav ul li {
  display: inline;
  margin: 0 14px 0 0;
  padding: 0 0 0 14px;
  background: url(../image/seprater.png) no-repeat 0 1px;
}
#nav ul li:first-child { background: none;}

.message-area-box {
  padding: 20px 30px 20px;
  margin: 40px 0px;
  border: 1px solid #dbdbdb;
  color: #838383;
  background-color: white;
}
.message-area-box h1 {
  font-size: 26px;
  margin: 0 auto 10px;
  color: black;
}
.message-area-box h2 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 20px;
  color: black;
}
.message-area-box p {
  font-weight: 300;
  line-height: 22px;
}
.message-area-box ol {
  margin: 0 0 10px 30px;
}

.uppercase {
  text-transform: uppercase;
}
.hidden {
  display: none;
}
